
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Event/etc/events.xsd">
    <event name="catalog_controller_product_view">
        <observer name="my_observer" instance="Training\MyObserver\Observer\Frontend\ObserverExample" disabled="false" />
    </event>
</config>
